includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - vendor/exceedone/exment/src
    level: 5
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    stubFiles:
        - exment/stubs/laravel/passport/Client.stub

    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Contracts\Auth\Authenticatable
    ignoreErrors:
        - '#Internal error#'
        - '#@anonymous#'
        - '#Tightenco\\\\Collect\\\\Support\\\\Collection#'
        - '#OneLogin\\\\Saml2#'
        - '#Adldap#'
        - '#League\\\\Flysystem#'
        - '#MicrosoftAzure#'
        - '#Aws\\\\S3#'
        - '#OpenAdminCore\\\\Admin#'
        - '#Illuminate\\\\Contracts\\\\Auth\\\\Authenticatable::#'
        - '#Illuminate\\\\Support\\\\Fluent::#'
        - '#TranslatorInterface#'
        - '#Renderable::render#'
        - '#If condition is always#'
        - '#will always evaluate to#'
