
// width --------------------------------------------------
$pc-media-width: 992px;

// color --------------------------------------------------
$purple: #9174ae;
$purple-border: #8575d4;
$purple-hover:#82689c;
$purple-border-hover: #7564c7;
$border-workflow: gray;