@import "_valiables.scss";

.red{
    color:red;
}

.bold{
    font-weight:bold;
}
.smaill{
    font-size:0.9em;
}

@for $i from 1 through 10 {
    .w-#{$i * 10} {
        width: $i * 10% !important;
    }

    .mw-#{$i * 10} {
        max-width: $i * 10% !important;
    }

    .h-#{$i * 10} {
        height: $i * 10% !important;
    }

    .mh-#{$i * 10} {
        max-height: $i * 10% !important;
    }
}

@for $i from 1 through 10 {
    @media(min-width:$pc-media-width) {
        .w-#{$i * 10}-pc {
            width: $i * 10% !important;
        }

        .h-#{$i * 10}px-pc {
            height: $i * 10% !important;
        }
    }
}

@for $i from 1 through 100 {
    .w#{$i * 10}px {
        width: #{$i * 10}px;
    }

    .mw#{$i * 10}px {
        max-width: #{$i * 10}px;
    }

    .h#{$i * 10}px {
        height: #{$i * 10}px;
    }

    .mh#{$i * 10}px {
        max-height: #{$i * 10}px;
    }
}

@for $i from 1 through 100 {
    @media(min-width:$pc-media-width) {
        .w#{$i * 10}px-pc {
            width: #{$i * 10}px;
        }

        .mw#{$i * 10}px-pc {
            max-width: #{$i * 10}px;
        }

        .h#{$i * 10}px-pc {
            height: #{$i * 10}px;
        }

        .mh#{$i * 10}px-pc {
            max-height: #{$i * 10}px;
        }
    }
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.help_personal{
    color: #f1f117;
}

.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion, .sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon, .sidebar-menu .treeview-menu>li>a>.ion{
    text-align: center;
    margin-right: 2px;
}
.sidebar-menu>li>a, .sidebar-menu .treeview-menu>li>a{
    padding-left: 10px !important;
}

.form-revision .form-group{
    margin-bottom: 0;
}

.table-hover > tbody > tr:hover {
    background-color: #DFDFDF;
    cursor:pointer;
}
.ul-hover > li:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}

// has-many-table
.has-many-table .input-group{
    margin-left:auto;
    margin-right: auto;
}

.dropdown-menu .dropdown-header{
    font-size: 10px;
    padding-left: 10px;
}

// form
.input-group .input-group-addon{
    min-width: 45px;
}

.calc_formula_modal{
    .col-value-item{
        margin:2px;
        padding: 4px 5px;
        border: 1px solid black;
        display: inline-block;
        border-radius: 3px;
    }
    .col-value-item span{
        padding: 0px 12px;
    }
    .col-target .col-target-block{
        margin-bottom: 2em;
    }
    .col-target .col-target-block h5,.col-value h5{
        margin-bottom: 0.25em;
    }
    .col-target-block-column .btn{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .col-value-item-remove{
        cursor: pointer;
    }
}

/* box-show */
.box.box-solid.box-default.box-show{
    border: none;

    .box-body{
        padding-top: 7px;
    }
}

/* box-dashboard */
.row.row-dashboard{
    margin-bottom: 20px;
}

.box.box-dashboard{
    height:100%; 
    margin-bottom: 20px;
    
    .box-body{
        padding-bottom: 0;
    }
    .box-body .box-body-inner-header{
        overflow: hidden;
    }
    .box-body .box-body-inner-body{
        overflow: auto;
        min-height:150px;
        max-height:300px;
        margin-top: 1em;
    }
    table{
        margin-bottom:0;
        
        td, th {
            white-space: nowrap;
        }
    } 

    .pagination{
        margin-bottom: 0;
    }
        
    [class^="col-"] {
        margin-bottom: 20px;
    }
}


.box-show{
    .show-tinymce{
        p, hr{
            margin:0;
        }
    }
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.bootstrap-duallistbox-container > div:last-child select{
    background-color: #fff900a3;
}
.bootstrap-duallistbox-container label{
    font-size: 0.9em;
}
.d-none{
    display: none !important;
}

/* flexheight */
.flexheight{
    display: flex;
    flex-wrap: wrap;
    
    .flexheight-inner{
        height: 100%;
    }
}

.swal2-container {
    zoom: 1.3;
}

.form-group .radio-inline:first-child{
    padding-left: 0;
}