@import "_valiables.scss";

.red{
    color:red;
}

.gray{
    color:gray;
}

.bold{
    font-weight:bold;
}

.small{
    font-size:0.9em;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}

.my-auto{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.d-none{
    display: none !important;
}
.d-block{
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block{
    display: inline-block;
}

.asterisk::after{
    content: " *";
    color: red;
    position: absolute;
    margin-left: 1px;
}

@for $i from 1 through 10 {
    .w-#{$i * 10} {
        width: $i * 10% !important;
    }

    .mw-#{$i * 10} {
        max-width: $i * 10% !important;
    }

    .h-#{$i * 10} {
        height: $i * 10% !important;
    }

    .mh-#{$i * 10} {
        max-height: $i * 10% !important;
    }
}

@for $i from 1 through 10 {
    @media(min-width:$pc-media-width) {
        .w-#{$i * 10}-pc {
            width: $i * 10% !important;
        }

        .h-#{$i * 10}px-pc {
            height: $i * 10% !important;
        }
    }
}

@for $i from 1 through 100 {
    .w#{$i * 10}px {
        width: #{$i * 10}px;
    }

    .mw#{$i * 10}px {
        max-width: #{$i * 10}px;
    }

    .h#{$i * 10}px {
        height: #{$i * 10}px;
    }

    .mh#{$i * 10}px {
        max-height: #{$i * 10}px;
    }
}

@for $i from 1 through 100 {
    @media(min-width:$pc-media-width) {
        .w#{$i * 10}px-pc {
            width: #{$i * 10}px;
        }

        .mw#{$i * 10}px-pc {
            max-width: #{$i * 10}px;
        }

        .h#{$i * 10}px-pc {
            height: #{$i * 10}px;
        }

        .mh#{$i * 10}px-pc {
            max-height: #{$i * 10}px;
        }
    }
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0{
    display: none;
}

.row::before, .row::after{
    width:0;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
   
    & > [class^="col-"] {
        margin-bottom: 20px;
    }

    .box{
        height:100%; 
    }
}

.help_personal{
    color: #f1f117;
}

.main-header .logo .logo-lg img{
    max-width: 200px;
    max-height: 50px;
}

.main-header .logo .logo-mini img{
    max-width: 50px;
    max-height: 50px;
}


.form-revision .form-group{
    margin-bottom: 0;
}

/*  Search */
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion, .sidebar-menu .treeview-menu>li>a>.fa, .sidebar-menu .treeview-menu>li>a>.glyphicon, .sidebar-menu .treeview-menu>li>a>.ion{
    text-align: center;
    margin-right: 2px;
}
.sidebar-menu>li>a, .sidebar-menu .treeview-menu>li>a{
    padding-left: 10px !important;
}

.sidebar .user-panel>.image>img{
    width:45px;
    height:45px;
}

.sidebar-collapse .sidebar .user-panel>.image>img{
    width:30px;
    height:30px;
}

.sidebar-toggle{
    position: relative;
}

.search-form {
    width: 400px;
    max-width: 70%;
    margin: 10px 0 0 20px;
    border-radius: 3px;
    float: left;

    input[type="text"] {
        color: #666;
        border: 0;
    }

    .btn {
        color: #999;
        background-color: #fff;
        border: 0;
    }
}

// navbar
.navbar-notify{
    .container-notify{
        font-size:20px; 
        padding-top:15px; 
        padding-bottom:15px;

        .label-danger{
            font-size:12px;
        }
    }
    
    .slimScrollDiv, .slimScrollDiv .menu{
        height:auto !important;
    }
}

body .main-header .navbar .nav>li>a>.label{
    font-size:11px;
}
body .navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu{
    width:400px;
}

.skin-red .navbar-notify .label-danger, .skin-red-light .navbar-notify .label-danger{
    background-color:yellow !important;
    color:black !important;
}

.ui-autocomplete {
    z-index: 1031;
}

.search-item-icon {
    display: inline-block;
    font-size: 0.9em;
    margin: 0 5px 0 2px;
    padding: 2px 5px;
    background-color: #3c8dbc;
    border-radius:5px;
    color:white;
}
.search-item-icon i{
    padding-right:2px;
}

.table-hover > tbody > tr:hover {
    background-color: #DFDFDF;
    cursor:pointer;
}
.ul-hover > li:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}

// has-many-table
.has-many-table .input-group{
    margin-left:auto;
    margin-right: auto;
}

.dropdown-menu .dropdown-header{
    font-size: 10px;
    padding-left: 10px;
}

// form
.input-group .input-group-addon{
    min-width: 45px;
}

.calc_formula_modal{
    .col-value-item{
        margin:2px;
        padding: 4px 5px;
        border: 1px solid black;
        display: inline-block;
        border-radius: 3px;
    }
    .col-value-item span{
        padding: 0px 12px;
    }
    .col-target .col-target-block{
        margin-bottom: 2em;
    }
    .col-target .col-target-block h5,.col-value h5{
        margin-bottom: 0.25em;
    }
    .col-target-block-column .btn{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .col-value-item-remove{
        cursor: pointer;
    }
}

/* box-show */
.box.box-solid.box-default.box-show{
    border: none;

    .box-body{
        padding-top: 7px;
        word-wrap: break-word;
    }
}

/* box-dashboard */
.row.row-dashboard{
    margin-bottom: 20px;
}

.box.box-dashboard{
    
    .box-body{
        padding-bottom: 0;
    }
    .box-body .box-body-inner-header{
        overflow: hidden;
        padding: 5px 0;
    }
    .box-body .box-body-inner-body{
        overflow: auto;
        min-height:150px;
        max-height:400px;
        margin-top: 1em;
    }
    table{
        margin-bottom:0;
        
        td, th {
            word-wrap : break-word;
        }
    } 

    .pagination{
        margin-bottom: 0;
    }
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
}

.has-error {
    .btn-valuemodal, .text-valuemodal{
        color: red;
        border-color: red;
    }
    .control-label{
        text-align: left !important;
    }
}

.bootstrap-duallistbox-container > div:last-child select{
    background-color: #fff900a3;
}
.bootstrap-duallistbox-container label{
    font-size: 0.9em;
}

/* flexheight */
.flexheight{
    display: flex;
    flex-wrap: wrap;
    
    .flexheight-inner{
        height: 100%;
    }
}

.swal2-container {
    zoom: 1.3;
}

[data-help-text] {
    cursor: pointer;
}

.form-group .radio-inline:first-child{
    padding-left: 0;
}

// data image style
table img.image_html{
    max-width: 200px;
    max-height: 200px;

    &:hover{
        opacity: 0.8;
    }
}

.box-show img.image_html{
    max-width: 100%;
    max-height: 250px;
    
    &:hover{
        opacity: 0.8;
    }
}

.dd-item{
    cursor: move;
}


.system-values{
    margin:0 auto;
    width:830px;
    
    .system-values-label{
        margin:0 0 5px;
        font-weight: bold;
    }

    p{
        margin-bottom: 0;
    }

    .system-values-list{
        display: inline-flex;
        text-align: left;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        font-size: 0.9em;
    
        li{
            list-style: none;
            border-left: solid 6px #2d8fdd;
            margin:0.5em 2px;
            padding: 0.4em 8px;
            width:160px; 
        }
    }

    .system-values-flows{
        margin-bottom: 0.5em;

        .system-values-label{
            margin-right:0.5em;
        }

        .system-values-flow{
            margin-right: 2em;
        }
    }
}

.skin-blue .system-values li, .skin-blue-light .system-values li{
    border-left-color:#3c8dbc;
}
.skin-yellow .system-values li, .skin-yellow-light .system-values li{
    border-left-color:#f39c12;
}
.skin-green .system-values li, .skin-green-light .system-values li{
    border-left-color:#00a65a;
}
.skin-red .system-values li, .skin-red-light .system-values li{
    border-left-color:#dd4b39;
}
.skin-purple .system-values li, .skin-purple-light .system-values li{
    border-left-color:#605ca8;
}

@media (max-width: 767px)
{
    .navbar{
        .sidebar-toggle{
            width: 42px;
        }
    
        .search-form{
            width:100%;
            margin-left: -42px;
            padding-left: 47px;
            margin-right: -55px;
            padding-right: 60px;
            max-width: 100000px;
        }
    
        .dropdown-toggle{
            width: 55px;
        }
    
        #manual_link{
            display: none;
        }
    }

    .nprogress-custom-parent{
        overflow: visible;
    }
}


// bootstrap --------------------------------------------------
.btn.btn-purple { 
    color: #FFFFFF; 
    background-color: $purple; 
    border-color: $purple-border; 
  } 

  .btn.btn-purple:hover, 
  .btn.btn-purple:focus, 
  .btn.btn-purple:active, 
  .btn.btn-purple.active, 
  .open .dropdown-toggle.btn.btn-purple { 
    color: #FFFFFF; 
    background-color: $purple-hover; 
    border-color: $purple-border-hover;
  }

  .btn.btn-purple:active, 
  .btn.btn-purple.active, 
  .open .dropdown-toggle.btn.btn-purple { 
    background-image: none; 
  } 

  .btn.btn-purple.disabled, 
  .btn.btn-purple[disabled], 
  fieldset[disabled] .btn.btn-purple, 
  .btn.btn-purple.disabled:hover, 
  .btn.btn-purple[disabled]:hover, 
  fieldset[disabled] .btn.btn-purple:hover, 
  .btn.btn-purple.disabled:focus, 
  .btn.btn-purple[disabled]:focus, 
  fieldset[disabled] .btn.btn-purple:focus, 
  .btn.btn-purple.disabled:active, 
  .btn.btn-purple[disabled]:active, 
  fieldset[disabled] .btn.btn-purple:active, 
  .btn  .btn-purple.disabled.active, 
  .btn.btn-purple[disabled].active, 
  fieldset[disabled] .btn.btn-purple.active { 
    background-color: $purple; 
    border-color: $purple-border; 
  } 

  .btn.btn-purple .badge { 
    color: $purple; 
    background-color: #FFFFFF; 
  } 

// tile
#tile-template{
    .tile-group-item {
        padding-left: 5px;
        padding-right: 5px;

        .tile {
            background-color: #fff;
            cursor: pointer;
            border:1px solid #ddd;
            margin: 5px 0;
            width: 100%;
            height:100%;
            display: flex;
            flex-wrap: wrap;
            
            &:hover {
                background-color: #ccf2ff;
            }
            &.active {
                background-color: #32ccff;
            }
            p{
                margin:10px 0;
            }
            .tile-thumbnail{
                flex: 1;
                padding: 3px 5px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0 auto;
                    padding: 10px 0;
                    display: block;
                }
            } 
            .tile-titledescription{
                flex: 3;
                padding: 3px;
                
                .hasThumbnail{
                    flex:1;
                }
            }
            .tile-title {
                font-size: 1.1em;
                font-weight: bold;
            }
            .tile-description {
                font-size: 0.85em;
            }
        }
    }
    .overlay-wrapper{
        min-height: 150px;
        width: 100%;
        position: relative;

        .overlay{
            margin-left: -15px;
            margin-right: -15px;
            width: calc(100% + 30px);
        }
    }

    .row-eq-height > [class^="col-"]{
        margin-bottom:10px;
    }
}
