.custom_form_block_available{
    padding-left: 15px;
    margin-bottom: 1em;
}

.custom_form_column_block .custom_form_column_label {
    margin-bottom: 5px;
}

.custom_form_column_items {
    padding: 1em 0.5em 4em;
    border: 2px dashed #AAA;
    min-height: 100px;
}

.arrows-h {
    font-size: 2.5em;
    text-align: center;
}

.options .form-horizontal .form-group{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.draggables{
    li {
        list-style: none;
        margin: 0.5rem 0;
        padding: 5px;
        width: 100% !important;
        height:auto !important;
        cursor: move;
    }
    .item-label{
        font-weight: bold;
    }
    label{
        font-weight: normal;
    }
}
