#custom_form_form{
    .custom_form_block_available{
        padding-left: 15px;
        margin-bottom: 1em;
    }
    
    .custom_form_column_block .custom_form_column_label {
        margin-bottom: 5px;
    }

    .custom_form_area{
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .custom_form_area_inner {
        border: 1px solid black;
        padding: 5px;
        height: 100%;
        min-height: 150px;

        .custom_form_area_header{
            font-size: 1.4em;

            a.config-icon{
                color: #454545;
            }
        }
            
        .draggables {
            padding: 2em 0.5em;
            border: 2px dashed #AAA;
            height: calc(100% - 40px);
            min-height: 50px;
        }
        
    }
    
    .arrows-h {
        font-size: 2.5em;
        text-align: center;
    }
    
    .options .form-horizontal .form-group{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .draggables{
        .form_column_type_0{
            background-color: lightblue;
        }
        
        .draggable {
            list-style: none;
            margin: 0.5rem 0;
            padding: 5px;
            width: 100% !important;
            height:auto !important;
            cursor: move;
            font-size: 0.9em;

            &.error{
                background-color: lightpink;
                color: red;
            }

            &.moving{
                max-width:200px !important;
            }
        }
        .item-label{
            font-weight: bold;
        }
        .item-label-top, .item-label-bottom{
            margin: 0;
        }
        .item-label-inner{
            word-break: break-all;
        }
        .item-label-bottom{
            margin-left: 1em;
        }
        label{
            font-weight: normal;
        }
    }
    
    .custom_form_column_items{
        .row{
            margin-left: -10px;
            margin-right: -10px;
        }

        .config-icon{
            padding: 0 3px;
    
            &:hover{
                opacity: 0.6;
            }
        }

        
        .draggables .item-label{
            display: inline-block;
            max-width: calc(100% - 40px);
            word-wrap: break-word;
        }
    }

    .addbutton_block{
        position: relative;
        min-height: 150px;

        .addbutton_button{
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            width: 100px;
            height: 100px;
            
            background-color: #FFFFFF;
            border: 1px solid black;

            &:hover{
                background-color: #F0F0F0;
            }

            i{
                font-size: 30px;
            }
        }
    }
        
    .ui-resizable-handle{
        position: absolute;
        font-size: 0.1px;
        display: block;
        touch-action: none;
        width: 20px;
        right: -10px;    

        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -10px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #ddd;
            box-shadow: 0 10px 0 #ddd, 0 20px 0 #ddd;
            cursor: col-resize;
        }

        &:hover{
            background-color: #EEEEEE;
        }
    }

    .custom_form_column_suggests{
        .draggables{
            display: flex;
            flex-wrap: wrap;

            .draggable{
                width: calc(50% - 4px) !important;
                margin: 3px 2px;
            }
        }
    }
}
