body#body-publicform{
    &, .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    footer {
        margin-top: auto;
    }
    .content-wrapper, .right-side, .main-footer{
        margin-left: 0;
    }

    .main-header{
        border-bottom:1px solid #d2d6de;
    }

    #container-inner{
        margin: 20px auto;
        padding: 10px;
    }
        
}

@media (max-width: 767px)
{
    body#body-publicform{
        &.body-container #container-inner{
            margin: 5px;
        }
    }
}