.markdown-section h3 + h4{
    margin-top: 2rem;
}


.markdown-section h4{
    margin: 4rem 0 0.2rem;
}

.markdown-section h4 + hr{
    margin: 0.5rem 0;
}
.markdown-section h4 + hr + p{
    margin: 0.5rem 0;
}

.markdown-section h5{
    margin: 2rem 0 0.2rem;
}

.markdown-section h5 + p{
    margin-top: 0.2rem;
}

img{
    border:1px solid #ccc;
}